<div class="card flex justify-between items-center gap-x-2">
  <%= render "shared/profile",
             profile: offer_invitation.user.profile %>
  <span class="shrink-0 text-sm italic">
    <%= render "offer_invitations/state", offer_invitation: offer_invitation %>
  </span>
</div>
