<% if offer.published? %>
  <h1><%= offer.title %></h1>

  <div class="mb-4">
    <%= link_to t(".back_to_offer"),
                offer_path(offer) %>
  </div>
<% else %>
  <%= render "shared/create_offer_stepper", offer: offer %>
<% end %>

<div class="lg:w-1/2">
  <%= render "bulk_create_form" %>
</div>
