<div class="flex items-center gap-x-3">
  <%= render "shared/avatar", name: profile.nickname %>
  <div>
    <span class="">
      <%= profile.nickname %>
    </span>
    <br>
    <span class="font-light text-sm">
      <%= profile.name %>
    </span>
  </div>
</div>
