<div class="flex items-center gap-x-3">
  <%= render "shared/avatar",
             name: profile.nickname %>
  <div>
    <div class="">
      <%= profile.nickname %>
    </div>
    <div class="font-light text-sm">
      <%= profile.name %>
    </div>
  </div>
</div>
