<div class="flex flex-wrap flex-col sm:flex-row justify-center items-center gap-3">
  <% if about_page? %>
    <%= link_to "Home",
                root_path,
                class: "btn btn-secondary w-full sm:w-auto" %>
  <% else %>
    <%= link_to "About Offers",
                about_path,
                class: "btn btn-secondary w-full sm:w-auto" %>
  <% end %>
  <%= link_to "Create an account",
              new_user_registration_path,
              class: "btn btn-primary w-full sm:w-auto" %>
  <%= link_to "Sign in",
              new_user_session_path,
              class: "btn btn-primary w-full sm:w-auto" %>
</div>
