<div class="card py-4 bg-white relative z-20 lg:w-2/3 m-auto">
  <%= render "title" %>

  <p class="mb-4">Ever wished planning outings with friends was as easy as a few taps? Look no further! Introducing <span class="text-indigo-600 font-semibold">Offers</span>, your go-to platform for effortlessly creating and coordinating plans with your pals.<p>

  <h3>Why <span class="text-indigo-600 font-semibold">Offers</span>?</h3>

  <ol class="list-disc list-inside ml-1 mb-4">
    <li>
      <span class="font-bold">Create Offers</span>: Propose exciting plans, whether it's a movie night, dinner, or a spontaneous adventure.
    </li>
    <li>
      <span class="font-bold">Customize Details</span>: Set the time, location, and any special conditions for your offer.
    </li>
    <li>
      <span class="font-bold">Seamless Invitations</span>: Invite friends with a simple tap, and they'll receive instant notifications.
    </li>
    <li>
      <span class="font-bold">Effortless Responses</span>: Your friends can easily accept or decline, making planning a breeze.
    </li>
  </ol>

  <h3>How It Works:</h3>

  <ol class="list-disc list-inside ml-1 mb-4">
    <li>
      <span class="font-bold">Create Your Offer</span>: Choose the activity, set the details, and create an irresistible plan.
    </li>
    <li>
      <span class="font-bold">Invite Friends</span>: Send invites to your selected friends with just a tap.
    </li>
    <li>
      <span class="font-bold">Get Responses</span>: Watch as your friends accept or decline, and get ready for a fantastic time!
    </li>
  </ol>

  <h3>What Sets Us Apart</h3>

  <ol class="list-disc list-inside ml-1 mb-4">
    <li>
      <span class="font-bold">Real-Time Updates</span>: Stay in the loop with instant notifications on plan acceptances and declines.
    </li>
    <li>
      <span class="font-bold">Social Connectivity</span>: Strengthen your bonds by creating memorable moments effortlessly.
    </li>
    <li>
      <span class="font-bold">Customizable Offers</span>: Tailor your plans to fit your group's preferences and availability.
    </li>
  </ol>

  <p class="mb-4">Join <span class="text-indigo-600 font-semibold">Offers</span> now and revolutionize the way you make plans! Whether it's a casual hangout or an epic adventure, let's turn your ideas into unforgettable moments.</p>

  <p class="mb-4">🌟 <span class="text-indigo-600 font-semibold">Offers</span> - Making Memories, One Plan at a Time!</p>

  <%= render "links" unless user_signed_in? %>
</div>
