<h1><%= t(".title") %></h1>

<% if @offers.any? %>
  <div class="space-y-4">
    <%= render @offers %>
  </div>
<% else %>
  <p><%= t(".no_offers_yet", url: new_offer_path).html_safe %></p>
<% end %>
