.form-group {
  @apply mb-3;
}

.form-label {
  @apply inline-block mb-2 text-sm font-medium text-gray-900;
}

.form-control,
trix-editor {
  @apply bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5;
}

/* checkbox */

.checkbox-label {
  @apply card block px-2 py-1 relative cursor-pointer;
}

.checkbox-label input {
  @apply absolute top-0 left-0 invisible;
}

.checkbox-label:has(input:checked) {
  @apply border-green-700 bg-green-300 text-green-700;

  .avatar {
    @apply bg-green-700 text-gray-100;
  }
}
