<h3 style="margin-top: 0">Hello, <%= @user.name %>!</h3>
<p>You have a new offer from <b><%= @offer.offerer.name %></b>.</p>
<p>You can view the offer details by following the link below:</p>

<p style="margin-bottom: 0"><%= link_to offer_url(@offer), offer_url(@offer) %></p>
